.modal {
    background-color: black;
    color: white;
    padding: 1em;
    display: flex;
    box-shadow:2px 2px 10px 1px rgba(250, 250, 250, 0.5);
    width: 50rem;
    position: absolute;
    .close {
        border: .2rem solid white;
        text-align: center;
        width: 3rem;
        // padding: .2em;
        height: 4rem;
    }
    .close:hover {
        color: red;
        background-color: white;
    }
    .children {
        padding-left: 5rem;
    }
    .listItem:hover {
        color: red;
        background-color: white;
        transform: rotate(4deg);
    }
    .listItem {
        margin: .4rem;
        transition: transform .3s;
    }

}
