.nav-wrapper {
    position: relative;
    background-color: blue;
    padding: 1.1em;
    top: -20px;
    width: 102%;
    left: -20px;
    height: 10vh;
}
.navbar {
    padding-top: 10px;
    display: flex;
    font-family: sans-serif;
    font-size: 2em;
    color: white;
    background-color: blue;
}
.nav-item {
    flex-grow: 1;
}
.nav-item.Home {
    flex-grow: 20;
}
