.nav-wrapper {
    // background-color: blue;
    padding: 2rem;
}
.navbar {
    display: flex;
}
.nav-item {
    flex-grow: 1;
    // color:white;
}
.nav-item:hover {
    background-color: red;
    color: white;
}
.nav-item.Home {
    flex-grow: 20;
}

