<a href="/" class="">
  <h1 class="text-xl font-bold md:block hidden">Anna Kaplan</h1>
  <h1 class="text-xl font-bold md:hidden block justify-items-start">AK</h1>
  <p class="text-base md:block hidden">software engineer and artist</p>
</a>