---
layout: layouts/main.liquid
title: My CV
---

<section class="pdf-container h-full">
  <embed
    src="/assets/pdf/resume.pdf"
    type="application/pdf"
    width="100%"
    height="600px" />
</section>