@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'swansea';
    src: url('../../assets/fonts/Swansea-q3pd.ttf') format('tff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'swansea';
    src: url('../../assets/fonts/SwanseaBold-D0ox.ttf') format('tff');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'swansea';
    src: url('../../assets/fonts/SwanseaBoldItalic-p3Dv.ttf') format('tff');
    font-weight: bold;
    font-style: italic;
  }

  @font-face {
    font-family: 'swansea';
    src: url('../../assets/fonts/SwanseaItalic-AwqD.ttf') format('tff');
    font-weight: normal;
    font-style: italic;
  }
  
html {
    font-size: 16px;
}

body {
    font-family: 'swansea', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #333;
    background-color: #f1f5f9;  /* bg-slate-100 */
}

.flex-item {
    flex: 0 0 auto;
}
#enter {
    color:blue;
}

.scroll {
    scrollbar-color: rebeccapurple green;
    height: 80vh;
    overflow-y: scroll !important;
}

/* Define keyframes for path animations */
@keyframes smilePath {
  0% {
    d: path("M 10 60 q 55 100 110 0");
    stroke: #ff0000;
  }
  50% {
    stroke: #1900ff;
    d: path("M 10 60 q 55 50 110 0");
  }
  100% {
    d: path("M 10 60 q 55 100 110 0");
    stroke: #ff0000;
  }
}

@keyframes sadPath {
  0% {
    d: path("M 10 100 Q 65 0 120 100");
    stroke: #1900ff;
  }
  50% {
    d: path("M 10 100 Q 65 50 120 100");
    stroke: #ff0000;
  }
  100% {
    d: path("M 10 100 Q 65 0 120 100");
    stroke: #1900ff;
  }
}

/* Define keyframes for ellipse animations */
@keyframes sadEllipse {
  0% {
    ry: 2;
    fill: #1900ff;
  }
  50% {
    ry: 10;
    fill: #ff0000;;
  }
  100% {
    ry: 2;
    fill: #1900ff;
  }
}

@keyframes hoverEllipse {
  0% {
    ry: 2;
    fill: #ff0000;;
  }
  50% {
    ry: 10;
    fill: #1900ff;
  }
  100% {
    ry: 2;
    fill: #ff0000;;
  }
}

/* Apply animations to the respective elements */
#smile svg path {
  animation: smilePath 2s infinite;
}

#sad svg path {
  animation: sadPath 2s infinite;
}

#sad svg ellipse {
  animation: sadEllipse 2s infinite;
}

svg ellipse {
  animation: hoverEllipse 2s infinite;
}

.pdf-container {
  height:85vh;
}