.sketch-dump {
    transform: rotate(10deg) translate(10px, 120px);
}
.home {
    position: relative;
    top: 30vh;
    left: 60vw;
    width: 90vw;
    height: 50vh;
}
.works {
    width: 90vw;
    color: white;
    // margin: 2rem;
}
.tech {
    transform: rotate(20deg);
}
.art {
    transform: rotate(10deg);
}
.contact {
    transform: rotate(-5deg);
}
.about {
    transform: rotate(-20deg);
}
.works:hover {
    color: white;
    background-color: red;
}
.constraint {
    width: 90vw;
    height: 90vh;
}