---
layout: layouts/main.liquid
title: Anna Kaplan
---

<div class="flex justify-center mt-20">
  <div id="smile"></div>
  <div id="sad"></div>
</div>
<script type="module" src="/scripts/bundle.js"></script>